<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Fecha de Ingreso</th>
      <th scope="col">FOpciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <th scope="row">{{ employee.id }}</th>
      <td>{{ employee.name }}</td>
      <td>{{ employee.lastName }}</td>
      <td>{{ employee.startDate }}</td>
      <td>
        <button class="btn btn-info" (click)="edit(employee.id)">edit</button>
        <button class="btn btn-danger" (click)="delete(employee.id)">
          delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- 
1. Mostrar la información el tabla
    la tabla va a tener una columna adicional que se va a llamar opciones
    por cada fila "tr" en esa columna van a colacar dos iconos o botones editar, eliminar

  2. al hacer click en el boton de editar lo va a redirigir al componente de editar, esa ruta lleva como parametro el id
  3. recuperar el parametro
  4. hacer el evento del click - guiar del componente new 

  5. que enviar al componente del form una entrada que se llame "edit:boolean"
  6. con la entrada de edit van a cambiar textos
  7. setear los valores al formulario
  8. funcionalidad para editar
-->
